@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* always follow root variable rule bcz design and spacing consistency */

:root {
  /* background  */
  --bg-color: #000;
  --bg-text-color: #fff;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --delete-color: red;

  /*padding*/
  --nav-padding: 15px 70px;
  --section-padding: 15px 30px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border radius */

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}
body {
  background-color: var(--bg-color);
  color: var(--bg-text-color);
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--bg-text-color);
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-sm);
}

#logo {
  font-size: 25px;
}


section {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--padding-xxl);
}

section .task-column {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-button-color);
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  border-radius: var(--border-radius-sm);
  transition: all ease 0.3s;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section .task-column.hover-over {
  border: 2px dashed var(--bg-text-color);
  scale: 1.03;
}

section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  cursor: grab;
}

section .task-column .task button {
  align-self: flex-end;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-sm);
  border: none;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  background-color: var(--delete-color);
  color: var(--bg-text-color);
}

.task{
  display: flex;
  gap: var(--padding-sm);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(5px);
}
.modal .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);  
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
  background-color: var(--bg-task-color);

  border: none;
  outline: none;
  color: var(--bg-text-color);
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
}

.modal .center button {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--bg-text-color);
  padding: var(--padding-md) var(--padding-xxl);
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  width: fit-content;
  align-self: center;
}
